a,
a:hover {
    text-decoration: none
}

a {
    color: transparent !important
}

a:hover {
    color: transparent
}

.bg-white {
    background-color: #fff !important
}

.TimER_1_BtN {
    color: #fff !important
}

.fs-5 {
    margin-bottom: 10px;
    margin-left: 20px
}