a,
a:hover {
    text-decoration: none
}

a {
    color: transparent !important
}

a:hover {
    color: transparent
}

.bg-white {
    background-color: #fff !important
}

.TimER_1_BtN {
    color: #fff !important
}

.fs-5 {
    margin-bottom: 10px;
    margin-left: 20px
}

.start-button {
    background-color: #198754;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.start-button:disabled {
    background-color: gray;
    cursor: not-allowed;
    opacity: 0.6;
}